*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  display: flex;
  flex-direction: column;
  /* width: 900px; */
  min-width: 100vw;
}
nav {
  height: 5rem;
  width: 100%;
  background-color: #1f2837;
}
.navbar {
  /* border: 1px solid blue; */
  display: flex;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
  background-color: #1f2837;
}
.navbar a {
  font-size: 24px;
  color: #f9faf8;
  font-style: none;
}
li {
  list-style: none;
  /* border: 1px solid blue; */
  font-size: 18px;
  color: #e5e7eb;
}
.links {
  /* border: 1px solid rgb(57, 88, 8); */
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

header {
  /* border: 1px solid green; */
  height: 17em;
  background-color: #1f2837;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.main-title {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
  /* border: 1px solid chocolate; */
  flex: 1;
  gap: 1rem;
}
.main-title h1{
  font-size: 48px;
  font-weight: bolder;
  line-height: 3rem;
}
.main-title p{
  font-size: 18px;
}
.main-title button {
  border: 1px solid rebeccapurple;
  align-self: flex-start;
  padding: .5rem 2.2rem;
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 8px;
}
.main-image {
  flex: 1;
  align-items: center;
  justify-content: center;
  /* border: 1px solid chocolate; */
  height: 200px;
  width: 100%;
}

.main-image img {
  flex: 1;
  height: 100%;
  width: 100%;
}

.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 340px;
  gap: 1rem;
  padding: 1rem;
  /* border: 1px solid blue; */
  /* background-color: #ffb7c5; */
  /* width: 100%; */
  /* margin-bottom: auto; */
}

.section-1-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 1px solid rgb(50, 154, 173);
}
.image-box {
  display: flex;
  /* margin: auto; */
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  align-content: center;
  border: 1px solid rgb(50, 154, 173);
}
.image-box img {
  border: 1px solid rgb(173, 50, 132);
  width: 160px;
  height: 160px;
  border-radius: 20px;
}
.image-box p {
  border: 1px solid rgb(173, 50, 132);
  text-align: center;
  align-self: center;
  width: 160px;
}

.section-2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 400px;
      gap: 1rem;
      padding: 10rem;
      background-color: #e5e7eb;

      /* align-items: center; */
      /* border: 1px solid blue; */
    }
    .section-2 p:nth-child(1){
      color: #1f2937;
      font-size: 34px;
      font-style: italic;
      /* border: 1px solid orange; */
    }
    .section-2 p:nth-child(2){
      align-self: flex-end;
      /* border: 1px solid orange; */
    }

    .section-3 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 300px;
      /* border: 1px solid blue; */
      /* background-color: #852538; */
    }

    .section-3-container{
      display: flex;
      /* border: 1px solid red; */
      height: 140px;
      gap: 1rem;
      /* background-color: #7b8525; */
      border-radius: 10px;
      padding: 1.3rem 4rem;
      align-items: center;
      justify-content: center;
    }
    .sign-up{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      /* border: 1px solid blue; */
      height: 100%;
    }
    .sign-up p:nth-child(1){
      font-weight: bold;
    }

    .section-3-container button{
      padding: .5rem 2.2rem;
      background-color: #3882f6;
      color: #f9faf8;
      border-radius: 8px;

    }

    footer{
      display: flex;
      height: 100px;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: .4rem;
      background-color: #1f2837;
    }